.home-container{
    margin-top: 179px;
    margin-left: 120px;
}

.home-title{
    font-family: 'Red Hat Display', sans-serif;
    font-weight: bold;
    font-size: 48px;
    align-items: center;
    letter-spacing: 0.02em;
    color: #062847;
}

.text-subtitle{
    height: 250px;
    left: 120px;
    margin-top: 24px;
    font-size: 20px;
    line-height: 36px;
    font-weight: normal;
    color: #5A6774;
    font-family: 'Red Hat Display', sans-serif;

}

.text-email{
    
    font-size: 20px;
    color: #1890FF;
    font-family: 'Red Hat Display', sans-serif;

}

